<?xml version="1.0" encoding="UTF-8"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://xmlns.jcp.org/xml/ns/javaee/web-app_2_4.xsd"
   version="2.4">  
  <display-name>Transparent Authentication Application</display-name>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.visibleautomation.verify.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Verify</servlet-name>
    <servlet-class>com.visibleautomation.verify.Verify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveTraceroute</servlet-name>
    <servlet-class>com.visibleautomation.verify.SaveTraceroute</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveTraceroute</servlet-name>
    <url-pattern>/saveTraceroute</url-pattern>
  </servlet-mapping>

	<security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure resources</web-resource-name>
            <url-pattern>/verify/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>
